/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section#dual-columns{
    display: flex;
    height: 600px;
    /* background-color: yellow; */
    margin: 2rem 0;
    flex-wrap: wrap;
}

section#dual-columns > *{
    height: 100%;
}

section#dual-columns > aside{
    width: 20%;
    height: 60%;
    background-color: #3535eb;
    /* margin-left: 2rem; */
}

section#dual-columns > section{
    width: calc(60% - 4rem);
    background-color: #f61668;
    margin: 0 2rem;
}

main > header,
main > footer{
    height: 100px;
    background-color: #9999f4;
}